h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px #eee, 5px 5px 5px #000000;
    font-size: 500%;
}
.clothes{
    float: right;
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 5px solid pink;
    display: inline-block;
    margin-right: auto;
    border-radius: 12px;
    z-index:2;
}


.box1 {
    background-color: pink;
    width: 100px;
    height: 100px;
}

#image {
    height:350px;
    width: 170px;
    border-radius: 12px;
    
}
#cover{
    width:100%;
    height: 100%;
    border-radius: 12px;
}


#navigation_paragraph{
margin-left:47.5%;
color:white;
}
nav {
    
    display: block;
    border-radius: 12px;
    margin-left:32.5%;
    
}

#nav_1{
 padding-left:5px;   
 padding-right:55px;   
}

#nav_2{

 padding-left:5px;   
 padding-right:55px;   

}

#nav_3{

 padding-left:5px;   
 padding-right:5px;   
}
#mannequin {
    width: 500px;
    height:600px;
    border-radius: 5px;
    border: 5px solid pink;
}

#suggestions {
    background-color: pink;
}

.suggestions {
    color: lavender;
}

td {
    align="top";
}

body {
    background-image: url(https://static.pexels.com/photos/2773/city-skyline-skyscrapers-top.jpg);
text-align:200%;
background-size: 100%;

}






/* Slide Movement Code -Alex */

#main-slider-space {
	overflow:hidden;
	width:600px;
	height:300px;
	background-color:#C36;
	margin-left:50px;
}

.slider-wrapper {
	position:relative;
	left:0;
	width:3000px;
	height:100%;
}

.main-slide {
	width:600px;
	height:100%;
	float:left;
}

#slide1 { background-color:#5FF; }
#slide2 { background-color:#F5F; }
#slide3 { background-color:#FF5; }

.slider-buttons {
    position:absolute;
    width:30px;
    height:30px;
}

.slider-buttons:hover { cursor:pointer; }

#main-slider-next {
    background-color:#99CC66;
    left:660px;
    top:150px;
}

#main-slider-previous {
    background-color:#99CC66;
    left:25px;
    top:150px;
}

/* ENd of Code for clothes */




th {
    font-size: 24px;
    color: pink;
    text-align: center;
}

form {
    color: white;
}

h2 {
    color:white;
}

div{
    border-radius: 12px;
    border-style: solid;
    border-color: #ff0000 #0000ff;
     width: 300px;
    padding: 20px;
    border: 20px;
    margin: 25px;
    
}