.clothes{
    float: right;
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
    margin-right: auto;
}


.box1 {
    background-color: pink;
    width: 100px;
    height: 100px;
}

#image {
    height: 200px;
    width: 150px;
    
}
#cover{
    width:100%;
    height: 100%;
}

#like{
}
#navigation_paragraph{
margin-left:50%;
}

#mannequin {
    width: 350px;
    height:400px;
}