h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px #eee, 5px 5px 5px #000000;
    font-size: 500%;
    font-family: "Hanken",Sans-serif;
}

.clothes{
    float: right;
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 5px solid pink;
    display: inline-block;
    margin-right: auto;
    border-radius: 12px;
    z-index:2;
}


.box1 {
    background-color: pink;
    width: 100px;
    height: 100px;
}

#image {
    height:350px;
    width: 170px;
    border-radius: 12px;
    
}
#cover{
    width:100%;
    height: 100%;
    border-radius: 12px;
}


#buttons {
    display: initial;
}
#like{
float:left;
}
#dislike{
    float:left;
}
#navigation_paragraph {
margin-left:48.5%;
color:#484848 ;
font-family: "Hanken",Sans-serif;
}
#navigation {
    
    display: block;
    border-radius: 12px;
    margin-left:29.5%;
    
}

#nav_1_pic{
border: 10px solid pink;


#nav_2_pic{
border: 10px solid pink;
}

#nav_3_pic{
 border: 10px solid pink;
}
#mannequin {
    width: 500px;
    height:624px;
    border-radius: 5px;
    border: 5px solid pink;
}

.suggestions {
    color: lavender;
}

td {
    align="top";
}

body {
background-image: url("https://static.pexels.com/pbuos/2773/city-skyline-skyscrapers-top.jpg");
text-align:300%;
background-size: 400%;
}





/* Slide Movement Code -Alex */

#main-slider-space {
	overflow:hidden;
	width:600px;
	height:300px;
	background-color:#C36;
	margin-left:50px;
}

.slider-wrapper {
	position:relative;
	left:0;
	width:3000px;
	height:100%;
}

.main-slide {
	width:600px;
	height:100%;
	float:left;
}

#slide1 { background-color:#5FF; }
#slide2 { background-color:#F5F; }
#slide3 { background-color:#FF5; }

.slider-buttons {
    position:absolute;
    width:30px;
    height:30px;
}

.slider-buttons:hover { cursor:pointer; }

#main-slider-next {
    background-color:#D8D8D8;
    left:660px;
    top:150px;
}

#main-slider-previous {
    background-color:#D8D8D8;
    left:25px;
    top:150px;
}

/* ENd of Code for clothes */




th {
    font-size: 24px;
    color:#484848 ;
    text-align: center;
    font-family: "Hanken",Sans-serif;
}

form {
    color:#484848;
}


#description{
    border-radius:5px;
    background-color:white;
    border: 50px black;
    width: 430px;
    padding:20px;
    font-family: Hanken Sans-serif;
    
}
.suggestion {
    background-color: white;
}

.post-m {
    padding: 2px;
    width: 537px;
    height: 50px;
    border: 2px solid;
    border-radius: 15px;
    background-color:#484848;
}

input {
    width: 537px;
    height: 40px;
    border: 2px solid pink;
}

